*
!private/
!public/
!library-profile-seeds/
!library-profile-seeds/.gitignore
!library-profile-seeds/README.txt
!library-profile-seeds/Minhlong-construction.pdf
!library-profile-seeds/Minhlong-group.pdf
!library-profile-seeds/Minhlong-power.pdf
!.gitignore
